@using Domain
@model Project

@{
      
}

<div>
    <form method="post" asp-controller="Project" asp-action="ProjectAdd">
        <input type="hidden" asp-for="Id" name="Id" />
        <input type="text" asp-for="ProjName" placeholder="project name . . ." id="projectName" />
        <input type="submit" value="Add" />
    </form>
</div>