@using Domain
@model Project

@{
    Layout = "_Layout";
}

<div>   
    <form class="form" method="post" asp-controller="Project" asp-action="ProjectAdd">
        <div class="form-control">
            <input type="hidden" asp-for="Id" name="Id" />
            <label>Create new project:</label>
            <div>
                <input type="text" asp-for="ProjectName" placeholder="project name" id="projectName" />
            </div>
            <button>add</button>
        </div>
    </form>
</div>