@using Domain
@model User

@{
    Layout = "_Layout";
}

<form class="form" method="post" asp-controller="User" asp-action="UserEditPost">
    <div class="form-control">
        <input type="hidden" asp-for="Id" name="Id" />
        <div>
            <label>new name:</label>
            <input type="text" asp-for="UserFirstName" id="userEditName" />
        </div>
        <div>
            <label>new second name:</label>
            <input type="text" asp-for="UserSecondName" />
        </div>
        <div>
            <label>new middle name:</label>
            <input type="text" asp-for="UserMiddleName" />
        </div>
        <div>
            <label>e-mail:</label>
            <input type="text" asp-for="UserEmail" />
        </div>
        <div>
            <label>Select user status:</label>
            <select asp-for="Status" name="Status" id="userPriority">
                <option value="0">admin</option>
                <option value="1">leader</option>
                <option value="2">worker</option>
            </select>
        </div>
        <button>Edit</button>
    </div>
</form>